*/debug
*/.vscode-janus-debug
*/jsconfig.json
*/order-service.exe
*/example-http-db-service.exe
*/vscode/launch.json
*/.idea/
.idea/
# Binaries
*/*.exe
*/*.dll
*/*.so
*/*.dylib
*/main
.DS_Store
monitoring-custom-metrics/bin

# Vendor
monitoring-custom-metrics/vendor