# This file provides an overview of code owners in the `examples` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `examples` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @a-thaler @lilitgh @rakesh-garimella @hisarbalik @skhalash @chrkl @lindnerby

# Service binding example
/service-binding/ @rakesh-garimella @lilitgh @k15r @nachtmaar @marcobebway

# Orders service example
/orders-service/ @m00g3n @pPrecel 

# In-cluster eventing using function example
/incluster_eventing/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey

# Custom function runtime image example
/custom-serverless-runtime-image/ @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey

# Observability
/prometheus/ @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh
/kiali/ @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh
/loki/ @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh
/trace-demo/ @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh
/monitoring-custom-metrics/ @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh
/monitoring-custom-alerts/ @a-thaler @rakesh-garimella @skhalash @chrkl @lindnerby @dennis-ge @lilitgh

# Scaling functions to zero with KEDA
/scale-to-zero-with-kedam @m00g3n @pPrecel @dbadura @kwiatekus @moelsayed @cortey

# All .md files
*.md @mmitoraj @majakurcius @NHingerl @grego952

# Config file for MILV - milv.config.yaml
milv.config.yaml @m00g3n @pPrecel
