---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: sample-metrics
spec:
  replicas: 1
  template:
    metadata:
      annotations:
        traffic.sidecar.istio.io/includeInboundPorts: "8080"  
      labels:
        app: sample-metrics
        example: monitoring-custom-metrics
        version: 1.1.3
    spec:
      containers:
      - name: sample-metrics
        image: eu.gcr.io/kyma-project/example/monitoring-custom-metrics:0.1.44
        imagePullPolicy: IfNotPresent

---
kind: Service
apiVersion: v1
metadata:
  name: sample-metrics-8080
  labels:
    example: monitoring-custom-metrics
spec:
  selector:
    app: sample-metrics
  ports:
  - name: web
    port: 8080
    protocol: TCP

---
kind: Service
apiVersion: v1
metadata:
  name: sample-metrics-8081
  labels:
    k8s-app: metrics
    example: monitoring-custom-metrics
spec:
  selector:
    app: sample-metrics
  ports:
  - name: web
    port: 8081
    protocol: TCP
